
/**/*.tfstate*
/**/.terraform

./modules/key/yes
./modules/key/yes.pub
# Local .terraform directories
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*
*.tfvars*

# .tfstate files
*.tfstate
/**/*.tfstate*
*.tfstate.*

modules/key*
